<footer class="position-relative" style="z-index: 1000;">
    <div class="container-fluid bg-dark p-4 mt-5">
        <div class="row">
            <div class="col-sm-4 text-sm-start my-1 footer-google">&copy; 2021, Az
                <span>G</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span>Fonts</div>
            <div class="col-sm-4 text-sm-center text-secondary my-1">Hazırladı: Cavid Gülmalıyev</div>
            <div class="col-sm-4 text-sm-end text-secondary my-1">
                <a href="https://github.com/javidrashkhansoi" target="_blank" class="text-decoration-none">
                    <span class="iconify fs-4 mx-1" data-icon="akar-icons:github-fill"></span></a>
                <a href="https://www.linkedin.com/in/javidedin/" target="_blank" class="text-decoration-none">
                    <span class="iconify fs-4 mx-1" data-icon="akar-icons:linkedin-fill"></span></a>
                <a href="mailto:cavidgulmaliyev491995@gmail.com" target="_blank" class="text-decoration-none">
                    <span class="iconify fs-4 mx-1" data-icon="cib:gmail"></span></a>
                <a href="tel:+994558300918" class="text-decoration-none">
                    <span class="iconify fs-4 mx-1" data-icon="akar-icons:phone"></span></a></div></div></div></footer>